pipeline/pl_load_ecdc_data.json
{
	"name": "pl_load_ecdc_data",
	"properties": {
		"activities": [
			{
				"name": "Lookup_filenames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_filenames_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFilename",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_filenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_filenames').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Source FileName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "setSourceFilePath",
								"value": {
									"value": "@item().sourcerelativeURL",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Sink FileName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "setDestinationFilePath",
								"value": {
									"value": "@item().sinkfileName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_ECDC_Data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set Source FileName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Sink FileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_load_ecdc_https",
									"type": "DatasetReference",
									"parameters": {
										"relativeUrl": {
											"value": "@variables('setSourceFilePath')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_load_ecdc_dl",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@variables('setDestinationFilePath')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"setSourceFilePath": {
				"type": "String"
			},
			"setDestinationFilePath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "load_raw"
		},
		"annotations": [],
		"lastPublishTime": "2025-02-14T02:45:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}